<!DOCTYPE html>
<html class="{{section}}">
	<head>
		<meta charset="utf-8">
		<title>{{title}} - {{s_title}}</title>
		<link rel="stylesheet" href="{{s_root}}/_/style.css">
		<link rel="icon" href="{{s_root}}/_/imgs/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<body>
{{menu}}
{{page}}
		<script src="{{s_root}}/_/script.js"></script>
		<script defer data-domain="mort.coffee" src="https://plausible.mort.coffee/js/plausible.js"></script>
	</body>
</html>
