.menu {
	background-color: #333;
	height: 44px;
	margin-bottom: 60px;
	box-shadow: 1px 1px 7px 1px #111;
}

.menu .rss {
	position: absolute;
	top: 10px; /* (44px - 24px) / 2 = 10px */
	right: 10px;
	height: 24px;
}

.menu .sections {
	white-space: nowrap;
	text-align: center;
	overflow-x: auto;
}

.menu .section {
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.menu .section .subs {
	margin-left: 10px;
}

.menu .section .title {
	line-height: 44px;
	display: inline-block;
	color: #eee;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

.menu .section.current > .title {
	color: #FFB946;
}

@media screen and (max-width: 1000px) {
	.menu {
		margin-bottom: 10px;
	}
}
