.paginate {
	display: none;
}

.paginate.prev.has-prev,
.paginate.next.has-next {
	display: block;
	position: fixed;
	bottom: 0px;
	padding: 15px;
	color: #EEE;
	line-height: 12px;
}

.paginate.prev {
	left: 0px;
}

.paginate.next {
	right: 0px;
}

@media screen and (max-width: 1300px) {
	.paginate.bg {
		display: block;
		position: fixed;
		width: 100%;
		background-color: #222;
		bottom: 0px;
		left: 0px;
		height: 42px;
	}
}

.posts.has-next .post:last-child,
.posts.has-prev .post:last-child {
	margin-bottom: 50px;
}
