.post {
	position: relative;
	box-sizing: border-box;
	width: calc(100% - 20px);
	max-width: 1000px;
	margin: auto;
	background-color: #333;
	padding: 20px;
	margin-bottom: 60px;
	box-shadow: 1px 1px 7px 1px #111;
}

.post .read-more {
	display: none;
	color: #FFB946;
	text-decoration: none;
	margin-top: 20px;
}

html.home .posts .post .content {
	max-height: 300px;
	box-shadow: inset 0 -7px 7px -7px #111;
}
html.home .posts .post .read-more {
	display: inline-block;
}

.post .content .social {
	padding: inherit;
	position: absolute;
	top: 20px;
	right: 20px;
}
.post .content .social img {
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 2px;
	margin-right: 0px;
	margin-left: 5px;
}

.post .content {
	color: #eee;
	line-height: 1.5;
	word-wrap: break-word;
	overflow-y: hidden;
}

.post .content *:last-child {
	margin-bottom: 0px;
}

.post .content img,
.post .content svg {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.post .content table {
	margin-left: auto;
	margin-right: auto;
}

.post .content thead {
	font-weight: bold;
}

.post .content audio {
	width: 100%;
}

.post .content a,
.post .content a:visited {
	text-decoration: underline;
	color: #6d9cbe;
}
.post .content a:visited {
	color: #999;
}

.post .content pre {
	overflow-x: auto;
	word-wrap: normal;
}

.post .content *:not(pre) > code {
	box-sizing: border-box;
	overflow-x: auto;
	white-space: nowrap;
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;

	background-color: #222;
	color: #FFB946;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

.post .content pre code,
.post .content textarea,
.post .content .code-area {
	display: block;
	background: #232323;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: none;
	font-size: inherit;
	font-family: monospace;
	white-space: pre;
	padding: 0.5em;
	color: inherit;
}

/* content with display: inline-block doesn't get strikethrough in <del> */
.post .content del > code,
.post .content del *:not(pre) > code {
	display: inline; 
}

.post .content h2 {
	border-bottom: 2px solid #222;
}

blockquote {
	background: #232323;
	border-left: 10px solid #191919;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0.5em 10px;
	border-top-right-radius: 5px;
}
blockquote p:first-child {
	margin-top: 0px;
}

.post .title {
	width: calc(100% - 90px);
	margin: 0px;
}

.post .title a,
.post .title .a:visited {
	text-decoration: none;
	color: #FFB946;
}

.post .title a:hover {
	text-decoration: underline;
}

.post .content .caption {
	font-style: italic;
	text-align: center;
	margin-top: -4px;
}

.post .content p + .caption {
	margin-top: -16px !important;
}

.post .content strong {
	font-weight: bold;
}

.post .content .hscroll {
	overflow-y: auto;
}

.post .content td,
.post .content th {
	border: 1px solid #a88;
	padding: 4px;
	text-align: center;
}

.post .content th {
	font-weight: bold;
}

.post .content table {
	border-collapse: collapse;
}

@media screen and (max-width: 1000px) {
	.post {
		margin-bottom: 10px;
		padding: 10px;
	}
	.post .content .social {
		top: 10px;
		right: 10px;
	}
}

@media screen and (max-width: 600px) {
	.post .content .social {
		max-width: 16px;
	}
	.post .content .social img {
		margin: 0px;
		width: 16px;
		height: 16px;
	}
	.post .title {
		width: calc(100% - 25px);
	}
}
